h5py>=3.12.1
keyboard>=0.13.5
matplotlib>=3.10.8
numpy>=2.4.2
opencv_python>=4.10.0.84
Pillow>=12.1.1
pydub>=0.25.1
PyQt6>=6.10.2
PyQt6_sip>=13.8.0
pyqtgraph>=0.13.7
pyserial>=3.5
PyVISA>=1.14.1
PyYAML>=6.0.2
PyYAML>=6.0.3
scikit_learn>=1.8.0
scipy>=1.17.0
zhinst==24.10.1
zhinst_toolkit==0.7.0
zhinst_utils==0.5.0
